<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @forum do |f| %>
    <%= f.label :name, "看板名稱: " %>
    <%= f.text_field :name %>
    <%= f.submit "送出"%>
    <% end %>    
  </div>
</div>
