<h2>Profile</h2>
<li>Name: <%= link_to @user.name, user_posts_path(@user) %></li>
<li>Email: <%= @user.email %></li>
<li>About: <%= @user.about %></li>
<li><%= link_to "edit", edit_user_path(@user)%></li>
