<h1>dev log</h1>

<ul>
  <li>0716 - test </li>
  <li>0716 - edit user profile</li>
  <li>0715 - upload to heroku, <%= link_to "try it :)", "https://finn1990.heroku.com" %></li>
  <li>0714 - update where clause</li>
  <li>0713 - action delete: update status to 'deleted'</li>
  <li>~0713</li>
  <ol>
    <li>posts of this tag</li>
    <li>posts of this user</li>
    <li>user loging & logout</li>
  </ol>
</ul>