<div class="panel panel-default">
  <div class="panel-heading">
    關於本站
  </div>

  <div class="panel-body">
    <ul>
      <li>作者: fall1600</li>
      <li>電子信箱: <%= mail_to "fall1600@gmail.com" %></li>
      <li>簡介: developer of this site, feel free to contact me :)</li>
    </ul>
  </div>
</div>
