<div class="panel panel-default">
  <div class="panel-heading">
    標籤列表
  </div>
  <div class="panel-body">
    <ol>
      <% @tags.each do |tag| %>
        <li class='tag'>
          <%#= link_to tag.name, tag_posts_path(tag) %>
          <%= link_to tag.name, posts_tag_path(tag) %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="panel-footer">
    <%= render "form", :tag => Tag.new %>
  </div>
</div>

<%#= @hits_of_each_tag.inspect %>
