<div class="panel panel-default">
  <div class="panel-heading">
    新增標籤
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%#= form_for @tag do |f| %>
  <%#= f.text_field :name %>
  <%#= f.submit %>
<%# end %>