<div class="panel panel-default">
  <div class="panel-heading">
    編輯文章
  </div>
  <div class="panel-body">
    <%= render 'form', :post => Post.find(params[:id]) %>
  </div>
</div>

<%#= form_for @post do |f| %>
  <%#= f.text_field :title %>
  <%#= f.text_area :content %>
  <%#= f.submit %>
<%# end %>
