<div class="panel panel-default">
  <div class="panel-heading">
    <%= "編輯費文 <#{@post.title}>" %>
  </div>
  <div class="panel-body">
    <%= form_for @post, :url => forum_post_path(@forum, @post) do |f| %>
      <%= render "form_content", :f => f %>
    <% end %>
  </div>
</div>
