<div class="panel panel-default">
  <div class="panel-heading">
    <%= "po個費文在 #{@forum.name} 板" %>
  </div>
  <div class="panel-body">
    <%= form_for @post, :url => forum_posts_path(@forum) do |f| %>
      <%= render "form_content", :f => f%>
    <% end %>
  </div>
</div>
